
#Title {
  color: white;
  background-color: lightblue;
  padding: 10px;
  text-align: center;
  
}
p.checkusout {
   font-style: italic
}
header {
  color: white;
  background-color: lightblue;
  padding: 35px;
  text-align: center;
}
.headtext {
 text-align: center;
}
.title {
  display: flex;
  align-items: center;
  background-color: rgba(93, 185, 239, 1);
  color: white;
}
.nav-link-wrapper {
  color: white;
  background-color: rgb(116, 194, 240);
  padding: 10px;
  text-align: left;
  font-size: 0,9em;
  margin-right: 20px;
  text-transform: uppercase;
}
.container {
  display: flex;
  background-color: rgba(93, 185, 239, 1);
  color: white;
}
.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0,5s;
}
.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
  transition: color 0,5s;
}
.nav-link-wrapper a:hover {
  color: black;
  transition: color 0.5s;
}
.containerfooter {
  background-color: rgb(116, 194, 240);
}
.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

